html {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  margin: 0;
}

.nav {
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 9999;
  transition: background-color 800ms linear;
  /* background-color: #282c34; */
  background-color: rgb(7, 89, 136);
  box-shadow: 2px 5px 20px 2px rgba(46, 46, 46, 0.5);
  /* opacity: 0.75; */
}
.scrolled {
  padding: 10px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  transition: background-color 800ms linear;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.submenu {
  width: 50%;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.logo a {
  color: white !important;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}

.item a {
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.item a::after {
  content: "";
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.item a:hover::after {
  width: 100%;
}
.item a:hover {
  color: white;
  text-decoration: none;
}
.welcome {
  color: white !important;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.badge1 {
  /* position: relative; */
  font-size: 12px;
  border-radius: 90%;
  width: 30px;
  height: 20px;
  margin-top: 0px;
  background: red;
  box-shadow: 0 0 1px #333;
}
